<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.ProductoMapper">

	<resultMap id="resProducto" type="Producto">
		<result property="cod_producto" 	 column="cod_producto" />
		<result property="nombre" 			 column="nombre" />
		<result property="precio" 		 	 column="precio" />
	</resultMap>

	<select id="getListaProducto" resultMap="resProducto">
		SELECT 
		cod_producto, nombre, precio
		
		FROM prueba.producto 
	</select>
	
	<select id="registrar" parameterType="com.prueba.demo.core.model.Producto">

	 INSERT INTO  prueba.producto
		(
		cod_producto, 
		nombre, 
		precio
		)
	VALUES (
		#{param.cod_producto},
		#{param.nombre},
		#{param.precio}
		 )
	

	</select>

	<select id="actualizar" parameterType="com.prueba.demo.core.model.Producto">

	UPDATE prueba.producto
	SET nombre = #{param.nombre}
	WHERE cod_producto = #{param.cod_producto}	
	

	</select>

	<select id="contadorProductos" resultType="int">

	SELECT COUNT(*) FROM prueba.producto	
	
	</select>
</mapper>